.main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.logo {
    background-color: var(--color-background);
}

.title {
    font-family: var(--font-headlines-family), sans-serif;
    font-size: var(--font-4-size);
    line-height: var(--font-4-height);
    margin: 0;
}

.info {
    margin: auto;
    padding: 0 45px 0 0;
}

.banner {
    padding: 70px 0;
    border-bottom: 1px solid var(--color-black);
    position: relative;
}

.banner__title {
    font-family: var(--font-headlines-family), sans-serif;
    font-size: var(--font-5-size);
    line-height: var(--font-5-height);
    margin: 0;
    text-align: center;
}

.banner__description {
    font-family: var(--font-headlines-family);
    font-size: var(--font-4-size);
    line-height: var(--font-4-height);
    margin: 0;
    text-align: center;
}

.banner__image {
    display: block;
    width: 500px;
    margin: 20px auto 0;
}

.about,
.automation,
.integration,
.pneumatic,
.pipelines,
.systems {
    display: flex;
    justify-content: space-between;
    padding: 68px 0;
    align-items: center;
    border-bottom: 1px solid var(--color-black);
}

.about__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 700px;
    margin-left: 20px;
}

.about__item {
    height: 50px;
    position: relative;
    display: flex;
    width: 325px;
    margin-bottom: 45.5px;
    align-items: center;
}

/* вертикальная линия */
.about__item:nth-child(even):before {
    content: '';
    position: absolute;
    background: var(--color-black);
    width: 1px;
    height: 50px;
    left: 0px;
}

.about__item:nth-child(even) {
    padding-left: 45px;
}

.about__item:nth-child(5) {
    margin-bottom: 0;
}

.about__item:nth-child(6) {
    margin-bottom: 0;
}

.about__icon {
    width: 30px;
    height: 30px;
    margin: auto 0;
}

.about__text {
    margin: 0 0 0 10px;
    width: 250px;
}

.automation__info {
    display: flex;
    flex-direction: column;
    padding-left: 64px;
}

.automation__item {
    padding-top: 13px;
    display: flex;
    align-items: center;
}

.automation__icon {
    width: 45px;
    height: 45px;
}

.automation__text {
    margin: 0 0 0 10px;
    width: 250px;
}

.pneumatic__image,
.system__image {
    margin-right: 60px;
}

.pipelines__image {
    width: 780px;
}

@media screen and (max-width: 1248px) {
    .banner__title {
        font-size: var(--font-4-size);
        line-height: var(--font-4-height);
        text-align: center;
    }

    .about__item {
        width: 250px;
        align-items: start;
    }

    .automation__image,
    .integration__image,
    .pipelines__image {
        width: 50%;
    }

}

@media screen and (max-width: 1000px) {
    .about {
        flex-direction: column;
    }
    .about__list {
        width: 100%;
        margin-top: 30px;
    }

    /* вертикальная линия */
    .about__item:nth-child(even):before {
        left: -45px;
    }
}

@media screen and (max-width: 900px) {
    .about,
    .automation,
    .integration,
    .pneumatic,
    .pipelines,
    .systems {
        flex-direction: column;
    }

    .title {
        text-align: center;
        margin: 0 0 40px;
    }

    .automation__image,
    .integration__image,
    .pipelines__image {
        width: 100%;
        order: 2;
        margin-top: 30px;
    }

    .pneumatic__image,
    .system__image {
        order: 2;
        margin-top: 30px;
        margin-right: 0px;
    }

    .about__list {
        width: 100%;
    }

    /* вертикальная линия */
    .about__item:nth-child(even):before {
        left: -20px;
    }

    .automation__info {
        padding: 0;
        align-items: center;
    }
    
    .info {
        padding: 0;
    }

}

@media screen and (max-width: 700px) {
    .banner {
        display: flex;
        flex-direction: column;
    }

    .banner__title {
        font-size: var(--font-3-size);
        line-height: var(--font-3-height);
        text-align: center;
    }

    .banner__image {
        order: 2;
        margin: 20px auto 0;
    }

    .title {
        font-size: var(--font-3-size);
        line-height: var(--font-3-height);
        margin: 0 0 30px;
    }

    .about__list {
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
    }

    .about__item {
        width: 100%;
        margin-bottom: 20px;
        align-items: center;
        justify-content: center;
    }

    .about__item:nth-child(even) {
        padding-left: 0px;
    }

    .about__item:nth-child(5) {
        margin-bottom: 20px;
    }

    /* вертикальная линия */
    .about__item:nth-child(even):before {
        display: none;
    }

    .system__image {
        width: 100%;
    }

}