.page {
  width: 100%;
  min-width: 320px;
  height: 100%;
  background-color: var(--color-background);
  padding: 30px 0;
}

.content {
  border: 1px solid var(--color-black);
  padding: 30px 65px 50px;
  max-width: 1170px;
  margin: 0px auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: var(--color-grey);
}

.link:hover {
  color: var(--color-black);
  cursor: pointer;
}

.text {
  font-family: var(--font-body-family);
  font-size: var(--font-body-1-size);
  line-height: var(--font-body-3-height);
  font-weight: 400;
}

.button {
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: var(--font-headlines-family);
  font-size: var(--font-headlines-2-size);
  line-height: var(--font-headlines-2-height);
  font-weight: 600;
  display: block;
  padding: 14px;
  border-radius: 10px;
  width: 200px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
}

@media screen and (max-width: 1248px) {
  .content {
    margin: 0px 20px;
  }
}

@media screen and (max-width: 900px) {
  .text {
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .content {
    margin: 0;
  }
}

@media screen and (max-width: 500px) {
  .content {
    padding: 15px;
  }
}