.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-black);
    padding: 0 0 30px;
}

.logo {
    width: 200px;
    height: 40px;
}

.header__link {
    font-family: var(--font-body-family);
    font-size: var(--font-body-3-size);
    line-height: var(--font-body-3-height);
    font-weight: 400;
}

.header__contact-block {
    display: flex;
    gap: 60px;
}

.header__contact {
    display: flex;
    padding-right: 20px;
    align-items: center;
}

.header__icons {
    display: flex;
    padding-right: 20px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.header__icon {
    width: 30px;
}

@media screen and (max-width: 1200px) {
    .logo {
        width: 180px;
        height: 35px;
    }

    .header__link {
        font-family: var(--font-body-family);
        font-size: var(--font-body-2-size);
        line-height: var(--font-body-2-height);
        font-weight: 400;
    }

    .header__icon {
        width: 20px;
    }
}

@media screen and (max-width: 900px) {
    .header__contact-block {
        flex-direction: column;
        gap: 10px;
        align-items: end;
    }
}

@media screen and (max-width: 700px) {
    .header {
        flex-direction: column;
    }

    .header__link {
        font-family: var(--font-body-family);
        font-size: var(--font-body-2-size);
        line-height: var(--font-body-2-height);
        font-weight: 400;
    }

    .header__icon {
        display: none;
    }
}